<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt earum
        asperiores rem non ipsam alias magni architecto possimus hic saepe?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt earum
        asperiores rem non ipsam alias magni architecto possimus hic saepe?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt earum
        asperiores rem non ipsam alias magni architecto possimus hic saepe?
      </p>
    </div>
  </body>
</html>
