<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Ninja Blog | <%= title %></title>
  </head>
  <body>
    <!-- //ejs dynamic way of code <% const name = 'ali' %> -->

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content"><h2>All Blogs</h2></div>
  </body>
</html>
