<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- //ejs dynamic way of code <% const name = 'ali' %> -->

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content"><h2>All Blogs</h2></div>
  </body>
</html>
